site_name: stashsphere Documentation
site_url: https://xxx
repo_url: https://xxx
repo_name: example/project
edit_uri: edit/main/docs
site_author: Maximilian Güntner
copyright: Maximilian Güntner

markdown_extensions:
  - admonition
  - meta
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate
  palette:
    - scheme: default
      primary: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra:
  homepage: https://docs.stashsphere.com

repo_url: https://github.com/stashsphere/docs
repo_name: stashsphere/docs

plugins:
  - search
